body {
    font-family: "Open sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
    text-decoration: underline;
}

h3 {
    color: lightskyblue;
}

header h2 {
    color: lightblue;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 30px;
    background-color: #B667F1;
    color: #FDEBF7;
}

.collapse {
    color: #F3F0D7;
}

.quote-1 {
    border: none;
    background-color: #B667F1;
    color: black;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    margin: 0;
    padding: px;
    background-color: #B667F1;
    color: white;
}

.navbar-brand {
    margin-left: 50px;
}

.logo {
    color: #FDEBF7;
}

.btn-contact {
    background-color: #FDEBF7;
}

.immediate-help {
    font-size: 20px;
}

.immediate-help:hover {
    transition: color .5s;
}

.btn {
    border: none;
}

#urgentForm {
    text-align: center;
    margin: 0 auto;
}

.m-body-1, .modal-body {
    background-color: whitesmoke;
}

.modal-footer {
    background-color: whitesmoke;
}

#urgentModal {
    text-align: center;
}

.modal-header {    
    text-align: center;
}

.alt-quote {
    width: 100%;
    background-color: #FDEBF7;
    color: black;
}

.img-top {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.contact {
    color: #B667F1;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

.card-header {
    background-color: #FDEBF7;
}

.card {
    border: none;
}

.bg-help {
    background-color: white;
}

.site-footer {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#B667F1, white);
    padding: 20px 0;
}

.site-footer, a, i {
    color: black;
}

.btn-link {
    color: black;
}